# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=eu-north-1
S3_BUCKET_NAME=novacart-customer-360-yourname

# Snowflake
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=NOVACART_TRANSFORMER
SNOWFLAKE_WAREHOUSE=NOVACART_WH
SNOWFLAKE_DATABASE=NOVACART_DB
SNOWFLAKE_SCHEMA=RAW

# Project
PROJECT_NAME=novacart-customer-360
ENVIRONMENT=development
DATA_GENERATION_SEED=42

# Data generation
DATA_AS_OF_DATE=2026-07-17
CUSTOMER_RECORD_COUNT=500
PRODUCT_RECORD_COUNT=120
